@media only screen and (min-width: 993px) {
  .blockquote-color {
    order: 3;
  }

  .share-btn {
    order: 4;
  }

  .not-found img {
    max-width: 750px;
  }

  .custom-modal {
    max-width: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  .blogpost p,
  .blockquote-color {
    font-size: 1rem;
  }

  .blogpost h3 {
    font-size: 1.025rem;
  }

  .blogpost h2 {
    font-size: 1.45rem;
  }

  .pad-l-half-rem {
    padding: 0 0 0 1rem !important;
  }

  .pad-r-half-rem {
    padding: 0 1rem 0 0 !important;
  }
}
