body {
  font-family: Raleway, sans-serif;
  line-height: 1.6rem;
}

nav {
  margin-bottom: 3rem;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 1.7rem;
  margin: 0 0 1.5rem;
}

/* Color */

a {
  color: #212121;
}

.grey-text {
  color: #bdbdbd;
}

.btn-large,
.btn {
  border-radius: 0.75rem;
  opacity: 100%;
  transition: opacity 0.5s;
}

.btn-large:hover,
.btn:hover {
  opacity: 90%;
}

/* Utility Classes */

.width-100 {
  width: 100%;
}

.plr-three-fourth-rem {
  padding: 0 0.75rem;
}

.pl-half-rem {
  padding: 0 0 0 0.5rem !important;
}

.pr-half-rem {
  padding: 0 0.5rem 0 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-one-rem {
  margin-bottom: 1rem !important;
}

.mb-one-half {
  margin-bottom: 1.5rem;
}

.mb-two-rem {
  margin-bottom: 3rem;
}

.mt-half-rem {
  margin-top: 0.5rem;
}

.mt-one-rem {
  margin-top: 1rem;
}

.mt-two-rem {
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.font-two-rem {
  font-size: 2rem;
}

.bold {
  font-weight: 600;
}

.plr-three-fourth {
  padding: 0 0.75rem;
}

.mr-third-rem {
  margin-right: 0.75rem;
}

.ml-third-rem {
  margin-left: 0.75rem;
}

.mr-one-rem {
  margin-right: 1rem;
}

.click-target {
  cursor: pointer;
}

/* Semantic Classes */

.brand-logo {
  font-size: 1.75rem !important;
  font-weight: 600;
  font-style: italic;
}

.nav-icon {
  font-size: 1.75rem;
  margin-right: 1rem;
}

.brand-logo:hover,
.nav-icon:hover,
.nav-link:hover {
  color: #e7e7e7;
}

.blockquote-color {
  border-left: 5px solid #26a69a;
}

.blogpost p,
.blogpost blockquote {
  font-size: 0.975rem;
  line-height: 2.25rem;
  white-space: pre-wrap;
}

.blogpost h3 {
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.blogpost h2 {
  font-size: 1.4rem;
  margin: 0;
}

.comment-time-ago {
  font-size: 0.9rem;
  margin-left: 1rem;
}

.share-icon {
  font-size: 2rem !important;
}

.trash-btn {
  border-radius: 0.6rem;
  padding: 1.35rem 0.7rem !important;
}

.auth-form a {
  text-decoration: underline;
}

.no-connection img {
  width: 60%;
}

.no-results img {
  margin: 2rem 5rem 2rem 0;
  width: 195px;
}

.not-found .btn-large,
.no-results .btn-large {
  margin: 3rem 0 2.5rem;
}

.card-image {
  min-height: 90px;
}

.btn-floating {
  top: 1rem;
  right: 1rem !important;
}

.card-title {
  font-size: 1.4rem !important;
  margin-bottom: 0 !important;
}

.card-summary {
  font-size: 0.9rem !important;
}

.card-username {
  color: #b0bec5;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.75rem !important;
}

.modal-bg {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 70%);
  height: 100vh;
}

.custom-modal {
  position: fixed;
  background-color: #fafafa;
  width: 55%;
  border-radius: 2px;
}

.custom-modal .body,
.custom-modal .footer {
  padding: 1.2rem;
  text-align: center;
}
