body {
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-half-rem {
  margin-top: 0.5rem;
}

.mb-one-rem {
  margin-bottom: 1rem;
}

.mb-two-rem {
  margin-bottom: 2rem;
}

.mt-two-rem {
  margin-top: 2rem;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.nav-icon-size {
  font-size: 2.5rem !important;
}

.blockquote-color {
  flex-basis: 100%;
  border-left: 5px solid #26a69a;
}

.light-grey-text {
  color: #b0bec5;
}

.blogpost p,
.blogpost blockquote {
  line-height: 2.25rem;
  white-space: pre-wrap;
}

.blogpost h3 {
  flex-basis: 100%;
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}

.blogpost h2 {
  flex-basis: 100%;
  font-size: 1.25rem;
  margin: 0;
}

.blogpost h1,
.feed h1 {
  flex-basis: 100%;
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
}

.feed h1 {
  font-size: 2rem;
}

.no-results-text {
  font-size: 2rem;
}

.no-results-icon {
  width: 150px;
}

.font-two-rem {
  font-size: 2rem;
}

a {
  color: #212121;
}

.font-bold {
  font-weight: 600;
}

.comment-time-ago {
  font-size: 0.9rem;
  margin-left: 1rem;
}

.plr-three-fourth {
  padding: 0 0.75rem;
}

.mr-third-rem {
  margin-right: 0.75rem;
}

.ml-third-rem {
  margin-left: 0.75rem;
}

.click-target {
  cursor: pointer;
}

.heart-color {
  color: #ef5350;
}

@media only screen and (min-width: 993px) {
  .blogpost p {
    margin: 1rem 0;
  }

  .blockquote-color {
    order: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .blogpost p {
    font-size: 1.15rem;
    margin: 2rem 0;
  }

  .blockquote-color {
    font-size: 1.15rem;
  }

  .blogpost h3 {
    font-size: 1.25rem;
  }

  .blogpost h2 {
    font-size: 1.5rem;
  }

  .blogpost h1 {
    font-size: 2.5rem;
  }
}
